@import "tailwindcss";

html{
scroll-behavior:smooth;
}

body{
margin:0;
padding:0;
background:#09090B;
color:white;
font-family:Inter,sans-serif;
overflow-x:hidden;
}

*{
box-sizing:border-box;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#3B82F6;
border-radius:20px;
}

::-webkit-scrollbar-track{
background:#111827;
}

.scrollbar-hide::-webkit-scrollbar{
display:none;
}

.scrollbar-hide{
scrollbar-width:none;
}

@keyframes fadeUp{
from{
opacity:0;
transform:translateY(40px);
}
to{
opacity:1;
transform:translateY(0);
}
}

.animate-fade-up{
animation:fadeUp .8s ease;
}